@model Financial.Core.ViewModels.AssetType.DetailsViewModel

@{
    ViewBag.Title = "Details";
}

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-remove"></span>
        @ViewData["ErrorMessage"].ToString()
    </div>
}
else if (ViewData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <span class="glyphicon glyphicon-ok"></span>
        @ViewData["SuccessMessage"].ToString()
    </div>
}

<h2>Asset Type</h2>

<div>

    <h4>Details</h4>

    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Edit", "Edit", "AssetType", new { id = Model.Id }, null) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

<div>

    <hr />
    <h4>Linked Setting Types</h4>
    <hr />

    <div>
        @{
            Html.RenderAction("IndexLinkedSettingTypes", "AssetTypeSettingType", new { assetTypeId = Model.Id });
        }
    </div>

    <p>
        @Html.ActionLink("Edit", "EditLinkedSettingTypes", "AssetTypeSettingType", new { AssetTypeId = Model.Id }, null)
    </p>
</div>

