@model IEnumerable<Financial.Core.ViewModels.AssetTypeSettingType.IndexLinkedSettingTypesViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SettingTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SettingTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SettingTypeIsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SettingTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SettingTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SettingTypeIsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
    </tr>
}

</table>
