<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Financial Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
\</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Financial", "Index", "AssetTransaction", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("AssetTypes", "Index", "AssetType")</li>
                    <li>@Html.ActionLink("SettingTypes", "Index", "SettingType")</li>
                    <li>@Html.ActionLink("Assets", "Index", "Asset")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">

        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="alert alert-warning">
                <span class="glyphicon glyphicon-remove"></span>
                @ViewData["ErrorMessage"].ToString()
            </div>
        }
        else if (ViewData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                <span class="glyphicon glyphicon-ok"></span>
                @ViewData["SuccessMessage"].ToString()
            </div>
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Financial Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jquerydt")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
