@model Financial.Core.ViewModels.RelationshipType.DetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Relationship Type</h2>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-remove"></span>
        @ViewData["ErrorMessage"].ToString()
    </div>
}

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

<div>

    <hr />
    <h4>Linked Relationship Types</h4>
    <hr />

    <p>
        @Html.ActionLink("Create New", "Create","ParentChildRelationshipType", new { relationshipTypeId = Model.Id }, null)
    </p>

    @{
        Html.RenderAction("Index", "ParentChildRelationshipType", new { relationshipTypeId = Model.Id });
    }
</div>