@model Financial.WebApplication.Models.ViewModels.AccountTransaction.DeleteViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Asset</h2>

<div>
    <h4>Delete Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetTypeName)
        </dd>

        <hr />
        <h4>Transaction</h4>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.CheckNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClearDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClearDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "AssetTransaction", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-md-offset-1 col-md-11">
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Cancel", "Details", "Asset", new { id = Model.AssetId }, new { @class = "btn btn-default" })
        </div>
    }
</div>
