@model IEnumerable<Financial.WebApplication.Models.ViewModels.AssetTypeRelationshipType.IndexViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RelationshipTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkedAssetTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RelationshipTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkedAssetTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id, suppliedAssetTypeId = item.SuppliedAssetTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id, suppliedAssetTypeId = item.SuppliedAssetTypeId })
        </td>
    </tr>
}

</table>
