@model IEnumerable<Financial.Core.ViewModels.AssetTypeRelationshipType.IndexViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParentRelationshipTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildRelationshipTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentAssetTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildAssetTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParentRelationshipTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildRelationshipTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentAssetTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildAssetTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
