@model IEnumerable<Financial.Core.ViewModels.AssetTransaction.IndexViewModel>

@{
    ViewBag.Title = "Index";
    var decTotal = 0.00m;
}

<h2>Transactions</h2>
@*
<img src="@Html.Partial("_Chart")" />
    *@
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClearDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetName)
        </th>
        <th style="text-align: right;">
            @Html.DisplayNameFor(model => model.Income)
        </th>
        <th style="text-align: right;">
            @Html.DisplayNameFor(model => model.Expense)
        </th>
        <th style="text-align: right;">
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClearDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssetName)
        </td>
        <td style="text-align: right;">
            @if (item.TransactionType == "Income")
            {
                @Html.DisplayFor(modelItem => item.Amount)
            }
        </td>
        <td style="text-align: right;">
            @if (item.TransactionType == "Expense")
            {
                @Html.DisplayFor(modelItem => item.Amount)
            }
        </td>
        <td style="text-align: right;">
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "AssetTransaction", new { id = item.Id }, null) |
            @Html.ActionLink("Details", "Details", "Asset", new { id = item.AssetId }, null) |
            @Html.ActionLink("Delete", "Delete", "AssetTransaction", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>

<script>
    $(function () {
        var 
    });
</script>
